.list-event{
    .a-card{
        margin-bottom: 2rem;
        border: 1px solid #666;
        padding: 1rem;
        position: relative;
        .v-align{
            height: 250px;
            text-align: center;
        }

        h3{
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }

        img{
            max-height: 230px;
            vertical-align: middle;
            line-height: normal;
        }
    }
}
